<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  <div class="login-container">
    <div class="logo-section">
      <ion-icon name="car-sport" style="font-size: 80px; color: var(--ion-color-primary);"></ion-icon>
      <h1>Rent-a-Car</h1>
      <p>Vaše vozilo je ovde</p>
    </div>

    <div class="form-section">
      <ion-button expand="block" shape="round" (click)="onLogin()">
        Prijavi se
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
